h1 {
    color: darkgreen;       
  }
body{
    background-color:bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;  
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
     
}  
button{
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer; /* Add hover effect */
    transition: 0.3s;
}
button:hover{
    background-color: darkred;
    border-radius: 15px;
    box-shadow: 5px;
}